@import url(http://fonts.googleapis.com/css?family=Raleway:400,700|Nunito);
html {overflow-x: hidden;}		
body { height: 100vh; position: relative; overflow: hidden; padding: 0px; font-family: 'Raleway', sans-serif; font-weight: 100; font-size: 18px; background: #E2284E; }

a{text-decoration: none !important;color: #fff;}

a.btn {
	cursor: pointer;
}

.container {
	height: 2.5em;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    visibility: hidden;
}

.container:hover {
	background-color: rgba(0,0,0,.3);
}

.navbar {
    position: absolute;
    z-index: 9; 
    left: 50%;
    transform: translateX(-50%);
    margin-left: 12px;
	overflow: hidden;
} 

.navs {
	margin-right: 12px;
	line-height: 2.5em;
	opacity: .7;
}

.navs:hover {
	color: #fff;
	opacity: 1;
}

@media only screen and (min-width: 700px) {

.navs:nth-child(1)::after {
	content: '';
	display: block;
	width: 52px; height: 100px;
	background-color: #E2284E;
	position: absolute;
	top: 45px;  
    z-index: -5; 
	transition: top .5s;
	overflow: hidden;
	margin-left: -1px; 
	opacity: .7;
}

.navs:nth-child(2)::after {
	content: '';
	display: block;
	width: 50px; height: 100px;
	background-color: #E2284E;
	position: absolute;
	top: 45px;  
    z-index: -5; 
	transition: top .5s;
	overflow: hidden;
	margin-left: 60px;
	opacity: .7;
}

.navs:nth-child(3)::after {
	content: '';
	display: block;
	width: 50px; height: 100px;
	background-color: #E2284E;
	position: absolute;
	top: 45px;  
    z-index: -5; 
	transition: top .5s;
	overflow: hidden;
	margin-left: 118px;
	opacity: .7;
}

.navs:nth-child(4)::after {
	content: '';
	display: block;
	width: 52px; height: 100px;
	background-color: #E2284E;
	position: absolute;
	top: 45px;  
    z-index: -5; 
	transition: top .5s;
	overflow: hidden;
	margin-left: 182px;
	opacity: .7;
}

.navs:nth-child(5)::after {
	content: '';
    display: block;
    width: 65px;
    height: 100px;
    background-color: #E2284E;
    position: absolute;
    top: 45px;
    z-index: -5;
    transition: top .5s;
    overflow: hidden;
    margin-left: 248px;
	opacity: .7;
}

.navs:hover::after{ top: 2em;}
}


a.btn {
	display: block;
	outline: 1px solid rgba(255,255,255,.5);
	border-collapse: collapse;
	padding: 5px 20px 5px 10px;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 0px 0px 10px 0px;
	color: #fff;
	width: 155px;
	transition: background-color, .5s, border .5s, padding .5s, width .5s;
	position: relative;
	overflow: hidden;
	background-color: rgba(226,40,78,.7);
}

a.btn:hover{
	width: 145px;
	background-color: rgba(0,0,0,.4);
    border-color: #fff;
    padding-left: 20px;
}

a.btn::after{
	content: '';
	display: block;
	width: 10px; height: 100px;
	background-color: rgba(255,255,255,.7);
	position: absolute;
	top: 0px;
	left: -10px;
	transition: left .5s;
}

.email:hover {
	color: #000;
}	

#submit {
    display: inline-block;
    border-collapse: collapse; 
    text-decoration: none; 
    color: #fff;
    width: 110px;
    transition: background-color, .5s, border .5s, padding .5s, width .5s;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    float: right;
    z-index: 100;
    background-color: #23AA60;
    height: 38px;
    line-height: 36px;
    outline: 1px solid #fff;
    font-size: 14px;
    margin-top: 1px;
    border: 0px;
}

input.email {
	    position: relative;
    border: 1px solid rgba(255,255,255,.5);
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0px 0px 10px 0px;
    width: calc(100% - 24%);
    background: #fff;
    height: 28px;
    color: #E2284E;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

input.email:focus { 
	outline: none !important;
    border:1px solid #fff;
} 

a.btn:hover::after{ left: 0px;} 

.promovideo video {
	position: fixed;
	left: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -10;
	border: 1px solid #fff;
}

.mask {
  background-color: rgba(0,0,0,.57); 
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -9;
}

.subs {
	width: 470px;
	position: relative; 
	margin: 0 auto;
}

.logoContainer {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
}

.logo {
	display: table;
	margin: 0 auto;
    transform: translateY(-50%);
}

.brand {
	display: table;
	margin: 0 auto;
    transform: translateY(-100%);
}
 
.des {
	color: #fff;
	text-align: center;
	margin-top: 30px;
	font-size: 20px; 
	font-weight: 700;
}
  
.subs p {
	text-align: center;
    color: #fff;
    font-size: 16px;
} 
 
#player {
	overflow: hidden;
    position: fixed;
    z-index: -20;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 700px) {
	.caption {
		position: static;
	}
	.caption p {
		font-size: 20px;
	}
}

.animatedDelayed{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-delay:2s;animation-delay:2s;}
.animatedSlow{-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}


@media only screen and (min-width: 480px) {
.play {
   visibility: hidden; 
   position: absolute;
   top: 45%;
   left: 50%; 
   margin-top: -300px;
}
}

@media only screen and (max-width: 480px) {
.play { 
   visibility: hidden; 
   position: absolute;
   top: 45%;
   left: 50%; 
   margin-top: -300px;
   transform: scale(2);
   -webkit-transform: scale(2);
}
.container {
	visibility: hidden;
}
.logoContainer {
	width: 80%;
    height: 60%;
}
.subs {
    width: 80%;
    margin: 0 auto;
}
#submit {
    margin-right: 50%;
    transform: translateX(50%);
}
input.email {
	width: 100%;
}
.des {
	margin-top: -30px;
}
}

div.qframe { 
    -webkit-transform: scale(0.75) translateX(-67%);
     -moz-transform: scale(0.75) translateX(-67%); 
      -ms-transform: scale(0.75) translateX(-67%); 
       -o-transform: scale(0.75) translateX(-67%); 
          transform: scale(0.75) translateX(-67%);
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
    -o-transition:1s ease;
    -ms-transition:1s ease;
    transition:1s ease;
    content:url(../iphone.png);
}

div.qframe:after {  
    content:url(../iphone.png);
}

.clock {
	position: relative;
    width: 75px; 
    margin-left: -36px; 
    margin-top: -500px;
}

svg path {
	stroke-width:4px;
	-webkit-transform: scale(0.75) translateX(14%);
     -moz-transform: scale(0.75) translateX(14%); 
      -ms-transform: scale(0.75) translateX(14%); 
       -o-transform: scale(0.75) translateX(14%); 
          transform: scale(0.75) translateX(14%);
}

p.progressbar-text {
	font-weight: bold;
	font-size: 22px;
}


.promo { 
	position: relative;
    margin-top: -209px;
    margin-left: -111px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}	

.promo p {
	color: #fff;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	width: 220px;
	margin-top: 50%;
}	


.promo nav { 
	display: inline-block;
	color: #fff;
	font-weight: normal;
	position: relative;
	margin-top: 10px;
	-webkit-font-smoothing: antialiased;
	overflow: initial;
    margin-left: -210px;
}		

.tex {
	visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    transform: translate(-50%, -50%); 
    width: 243px;
}

.tex p:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}

.downBar {
	position: absolute;
    bottom: 0;
    height: 10vh;
    background-color: #fff;
    width: 100%;
}

.downBar:after {
	content:"";
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #AAAB9D;
}

#skip {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: .35;
    width: 40px;
    cursor: pointer;
}