p > a {
	color: #E4375A;
}
p > a:hover {
	color: #21B673;
}
header {
    height: 3.5em;
    background-color: #e2284e;
    width: 100%; 
    z-index: 151;
    position: fixed;
    top: 0;
    opacity: 1;
}  
h2 {text-align: left;}
h5 {float: right;}
li {margin-top: 3px;}
.title {
    top: 120px;
    position: absolute;
    left: 50%;
    color: #E4375A;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.title + article {
	position: absolute;
	top: 230px;
    width: 70%;
    left: 15%;
    font-size: 16px;
    word-spacing: 1px;
    word-break: break-word;
}
@media only screen and (max-width: 700px) {
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: auto;
    padding: 5px 5px 1px;
}
.title + article {
    width: 84%;
    left: 8%;
}
header {
    height: 3.55em;
    width: 100%;
    z-index: 101;
    position: fixed;
    bottom: 7px;
}
    body {
        overflow:  visible;
        font-family: 'Raleway', ralewaymedium, sans-serif;
    }
    li {
        list-style: inherit;
    }
}
@media only screen and (max-width: 480px) {
.title {
    width: 100vw;
    left: 50vw;
    font-size: 2em;
}
.title + article {
    width: 320px; /*fallback*/
    width: 90vw;
    left: 3%;
}
article > h5 { 
    width: 80%;
    float: left;
}
}
.subterms {
	list-style-type: lower-roman;
}
.privacy {
	color: #21B673;
	font-weight: bold;
}